@import "@/styles/views/home";
@import "@/styles/views/repositoryList";
@import "@/styles/views/repositoryDetail";
@import "@/styles/components/repository";
@import "@/styles/components/reposSkeleton";
@import "@/styles/components/userCard";

html, body, #app {
  height: 100%;
}

.main-container {
  background-color: #0D1117;
  min-height: 100%;

  .label {
    color: #E6EDF3;
  }
}











